<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div>
        <div class="title-wrapper center">
          <h1>죄송합니다!</h1>
        </div>
        <h2>Conference Air 는 Internet Explorer를 지원하지 않습니다.</h2>
        <p><span>정상적인 이용을 위해 호환되는 최신브라우저를 이용해주세요.</span></p>
        <div>
          <p>호환되는 브라우저</p>
          <a href="https://www.google.com/intl/ko/chrome/" target="_blank" title="chrome페이지로 이동합니다.">
            <img src="assets/img/chrome-logo.png" alt="다운로드 크롬">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
