<footer>
  <div class="footer-header">
    <div class="footer-header-content not-drag">
    </div>
  </div>
  <div class="footer-body">
    <div class="row">
      <div class="col col-md-4 col-12 footer-logo"></div>
      <div class="col col-md-8 col-12 footer-description">
        <p>
          (주)아이센스 | 대표자: 차근식, 남학현<br>
          주소: 서울시 서초구 반포대로 28길 43, 아이센스빌딩 (서초동 1556-2번지)<br>
          대표번호: 02-916-6191<br>
          사업자등록번호 210-81-29428 | 통신판매업신고 2014-서울서초-1925호 | 의료기판매업신고 3937
        </p>
      </div>
    </div>
  </div>
</footer>
