<header class="fixed-top">
  <div class="content-inner">
    <nav class="navbar navbar-expand-lg navbar-light p-0">

      <a class="navbar-brand p-0" [routerLink]="'/main'"></a>
      <div>
        <button (click)="collapse = !collapse" class="navbar-toggler p-0" type="button" data-toggle="collapse"
          data-target="#navbarMenus" aria-controls="navbarMenus" aria-expanded="false"
          aria-label="Toggle menu navigation">
          <i [ngClass]="{'navbar-toggler-icon': collapse, 'icon-close': !collapse }" aria-hidden="true"></i>
        </button>
      </div>

      <div class="collapse navbar-collapse p-0" id="navbarMenus">
        <ul class="navbar-nav">
          <li class="nav-item btn-abstract ebooth-exhibition"
            (click)="pubWindow.open('https://www.youtube.com/watch?v=8EJKQ_lv4xM','_blank')">
            <a>아이센스</a>
          </li>
          <li class="nav-item btn-abstract sample-url"
            (click)="pubWindow.open('https://www.youtube.com/watch?v=D9gxMGCabUs','_blank')">
            <a>세계당뇨병의날</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
