$headerHeight: 68px;
$brandHeight: 54px;

.fixed-top {
  .content-inner {
    width: 70%;
    padding: 0;

    @media screen and (max-width: 767px) {
      width: 90%;
    }
  }
}

.nav-item {
  cursor: pointer;
}

header {
  background: var(--white);
  border-bottom: 1px solid var(--gray22);
  min-height: $headerHeight;

  &.not-ie {
    >div {
      opacity: 0;
    }
  }

  nav {
    min-height: $headerHeight;

    .navbar-brand {
      margin-right: 36px;
      width: 310px;
      height: 68px;
      max-width: calc(100% - 180px);
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url('/assets/img/logo.png');
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }

    button.navbar-toggler {
      width: 40px;
      height: 32px;
    }
  }

  .navbar-collapse {
    padding: 16px;
    justify-content: flex-end;
  }
}

.navbar-nav {
  gap: 20px;

  .btn-abstract {

    min-width: 180px;
    border-radius: 15px;
    align-self: center;
    padding: 0 4px;
    font-size: 16px;
    background: black;
    justify-content: center;
    height: 42px;

    display: flex;
    align-items: center;

    a {
      font-weight: bold;
      color: var(--white);
    }

    &.ebooth-exhibition {
      background: rgb(113, 187, 50);
    }

    &.sample-url {
      background: rgb(23, 53, 142);
    }

  }
}

@media (max-width: 1280px) {
  header {
    nav .navbar-brand {
      margin-right: 0;
    }

    .content-inner {
      padding: 0 16px;
    }
  }
}
