.banner-wrapper {
  width: 100%;
  margin: 0 auto;

  position: relative;
  text-align: center;

  img {
    width: 70%;

    @media screen and (max-width: 767px) {
      width: 90%;
    }


  }

  margin-bottom:20px;
}
