.about .title-wrapper .welcome-title-image {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-right: 20px;
  background-image: url('/assets/img/welcome-title.png');
  background-size: contain;
  vertical-align: middle;
}



.player {
  max-width: 70%;
  margin: 0 auto;

  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    display: flex !important;
    justify-content: center !important;

    iframe,
    object,
    embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex !important;
      justify-content: center !important;
    }
  }

  @media screen and (max-width: 767px) {
    max-width: 90%;
  }
}

.comment-alert-btn {
  display: none;
}

.banners-wrapper {
  margin-bottom: 30px !important;
  margin-top: 20px !important;
  width: 70%;
  max-width: 1200px;
  margin: 0px auto;
  position: relative;
  padding: 0 34px;

  @media screen and (max-width: 767px) {
    width: 90%;
  }

  .banners-btn {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 100%;
    background: #EAEAEA;
    cursor: pointer;

    &.banners-prev {
      left: 0;

      img {
        transform: rotate(-90deg);
      }
    }

    &.banners-next {
      right: 0;

      img {
        transform: rotate(90deg);
      }
    }
  }

  ng-image-slider {
    display: flex;

    .ng-image-slider {
      .ng-image-slider-container .main .img-div {
        position: relative;
        padding: 0 8px;
        box-shadow: none;
        border-radius: 0;
        cursor: pointer;

        img {
          max-width: 80%;
          max-height: 80%;
          border-radius: 0;
          // max-height: 40px ;
          cursor: pointer !important;
        }

        &::before {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto 0;
          width: 1px;
          height: 14px;
          border: 1px solid #E2E2E2;
          box-sizing: border-box;
          content: '';
        }
      }
    }
  }
}

//! 댓글 css
.comments-wrapper {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;

  @media screen and (max-width: 767px) {
    width: 90%;
  }

  .comments-title {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #E2E2E2;
    font-weight: bold;
    font-size: 16px;
  }

  .comment-headline {
    margin: 0;
    margin-top: 16px;
    background: var(--gray21);
  }

  .cInputs-wrapper {
    display: none;

    padding: 8px;
    border: 1px solid var(--gray);

    textarea {
      padding-left: 4px;
      font-size: 14px;
      padding: 0;
      resize: none;
      font-weight: 300;
      border: none;
      width: 100%;

      &:focus {
        outline: none !important;
        border-color: var(--main-color);
      }

      border:1px solid var(--gray21);
    }

    .cInput-label {
      font-weight: bold;
      margin-right: 4px;
      width: 35%;
    }

    .cInput-value {
      margin-right: 16px;
      width: 60%;
      border: 1px solid var(--gray21);
    }

    .cInput-description {
      width: 100%;
      height: 60px;
      border: 1px solid var(--gray21);
    }

    .cInputs-btns-wrapper {
      margin-top: 10px;

      .cInputs-btns {
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
        gap: 8px;

        .cinput-btn-cancel {
          padding: 4px 8px;
          border-radius: 0.25rem;
          background: var(--white);
          border: 1px solid var(--gray20);
        }

        .cinput-btn-create {
          padding: 4px 8px;
          border-radius: 0.25rem;
          color: var(--white);
          background: var(--main-color);
        }
      }
    }
  }

  .new-input-wrapper {
    font-size: 14px;

    .input-container {
      display: flex;

      @media screen and (max-width:540px) {
        flex-direction: column;
      }
    }

    .new-input-info-wrapper,
    .new-input-textarea-wrapper {
      label {
        font-weight: bold;
        margin-bottom: 0;
      }
    }

    .new-input-info-wrapper {
      display: flex;
      flex-direction: column;
      min-width: 220px;
      margin-right: 16px;

      @media screen and (max-width:420px) {
        & {
          margin-right: 0;
        }
      }

      .input-info {
        border: 1px solid var(--gray21);
      }

      .input-value {
        margin-bottom: 6px;

        input {
          width: 100%;
          height: 30px;

          &:focus {
            outline: none !important;
            border-color: var(--main-color);
          }
        }
      }
    }

    .new-input-textarea-wrapper {
      width: 100%;

      .input-value {
        width: 100%;
        font-size: 14px;
        padding: 0 0 0 4px;
        resize: none;
        font-weight: 300;
        border: none;
        height: 138px;
        border: 1px solid var(--gray21);
      }
    }

    .new-input-create {
      display: flex;
      justify-content: space-between;

      .noti-text {
        align-self: center;
        font-size: 14px;
        padding-right: 8px;
      }

      button {
        width: 80px;
        height: 30px;
        border-radius: 8%;
        color: var(--white);
        background: var(--main-color);
      }
    }

  }

  .comment-wrapper {
    padding-top: 20px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--gray21);

    &.child-wrapper {
      position: relative;
      padding-top: 20px;

      padding: 20px 16px 16px 42px;
      background: #f1f1f1;

      .child-icon {
        position: absolute;
        left: 16px;
      }
    }

    .comment-header {
      .comment-name {
        font-size: 14px;
        font-weight: 600;
      }

      .my-comment {
        color: var(--blue8);
      }

      display: flex;
      justify-content: space-between;

      .dropdown .dropdown_button {
        color: var(--gray17);

        &:focus {
          outline: none !important;
          border-color: var(--main-color) !important;
        }
      }

      .cancel-save {
        width: 63px;
        display: flex;
        justify-content: space-between;

        .cancel-save-division {
          color: var(--gray27);
        }
      }
    }

    .comment-body {
      textarea {
        font-size: 14px;
        padding: 0;
        resize: none;
        font-weight: 300;
        border: none;
        width: 100%;
      }

      .parent-textarea {
        background-color: transparent;
        padding-left: 4px;

        &:disabled {
          padding-left: 0;
          border: none;
        }

        &:focus {
          outline: none !important;
          border-color: var(--main-color);
        }

        border:1px solid var(--gray21);
      }

      .child-textarea {
        background-color: #f1f1f1;
        padding-left: 4px;

        &:disabled {
          padding-left: 0;
          border: none;
        }

        &:focus {
          outline: none !important;
          border-color: var(--main-color);
        }

        border:1px solid transparent;
      }
    }

    .comment-date {
      font-size: 14px;
      color: #a0a0a0;
      font-weight: 300;
      padding-bottom: 8px;
    }

    .open-reply-wrapper {
      button {
        border: 1px solid var(--gray20);
        padding: 4px 8px;
        border-radius: 0.25rem;
      }
    }
  }
}

.ngx-pagination {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  padding: 0;
}

.marquee-wrapper {
  margin: 0 auto;
  width: 70%;
  margin-top: 30px;
  margin-bottom: 30px;

  .marquee {
    height: 25px;
    overflow: hidden;
    position: relative;
  }

  .marquee div {
    display: block;
    width: 200%;
    height: 30px;
  
    position: absolute;
    overflow: hidden;
  
    animation: marquee 20s linear infinite;
  }
  
  .marquee span {
    float: left;
    width: 50%;
  }
  
  @keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
  }

  img {
    width: auto !important;
    height: 34px !important;
    max-width: none !important;
  }

  @media screen and (max-width: 767px) {
    width: 90%;
  }

}


// !MODALS

.entry-alert-btn {
  display: none;
}

.entry-alert {

  .modal-content {
    padding: 32px;
    max-width: 60%;
    background: var(--gray16);

    .modal-title {
      color: var(--white);
      font-size: 1.3rem;
      padding-bottom: 8px;
      border-bottom: 1px solid var(--white);

      img {
        width: 6%;
        margin-right: 8px;
      }
    }

    .modal-description {
      padding: 16px 0;

      label {
        font-size: 1.5rem;
        color: var(--yellow1);
      }

      p {
        text-align: center;
        padding: 8px 0;
        // font-size: 1.3rem;
        font-size: 1.6rem;
        color: var(--white);

        span {
          font-size: 2.2rem;
          line-height: 1.7;
        }
      }
    }

    .confirm-btn {
      height: 50px;
      color: var(--white);
      font-size: 1.5rem;
      font-weight: 600;
      border-radius: 25px;
      background: var(--blue5);
    }
  }
}

.modal-dialog {
  max-width: 826px;
}

.comment-alert {

  padding-left: 0;

  .modal-content {
    padding: 32px;
    // max-width: 60%;

    .modal-title {
      font-size: 1.3rem;
      padding-bottom: 8px;
      border-bottom: 1px solid var(--gray);

      img {
        width: 6%;
        margin-right: 8px;
      }
    }

    .modal-description {
      padding: 16px 0;
      display: flex;
      justify-content: center;

      input {
        border: 1px solid var(--gray);
      }

      // ! 수정폼
      .update-form {
        width: 100%;

        .update-input-wrapper {
          width: 100%;
          margin-bottom: 12px;

          .update-input-label {}

          .update-input-value {
            textarea {
              padding-left: 4px;
              font-size: 14px;
              padding: 0;
              resize: none;
              font-weight: 300;
              border: 1px solid var(--gray);
              width: 100%;
            }
          }

        }
      }
    }

    .comment-alert-bottom {
      .btn-confirm {
        display: flex;
        justify-content: center;
        gap: 14px;

        button {
          width: 100%;
          max-width: 80px;
        }
      }
    }
  }
}

@media(max-width:1200px) {
  .cInput-label {
    width: 100% !important;
  }

  .cInput-value {
    width: 100% !important;
  }
}
