<div class="content-body">
  <app-banner></app-banner>
  <div class="player">
    <!-- ! 아이센스 유튜브 동영상 EMBED -->
    <div class='embed-container'>
      <iframe src='https://www.youtube.com/embed/cefcNQzRUwU?controls=0&autoplay=1' frameborder='0' allowfullscreen></iframe>
    </div>
  </div>

  <!-- 경품추첨 안내 -->
  <div class="marquee-wrapper">
    <marquee loop="infinite" scrollamount="10" valign="center">
      <img width="100%" height="100%" src="../../../assets/img/rolling.png">
    </marquee>
  </div>

  <!-- 광고 구좌-->
  <div class="banners-wrapper" *ngIf="banners.length > 0">
    <div class="banners-btn banners-prev" (click)="slidePrev('bannerSlider')">
      <img src="assets/img/ic_dropdown_class_up.png">
    </div>
    <ng-image-slider #bannerSlider [infinite]="true" [imagePopup]="false" [autoSlide]="1" [animationSpeed]="2"
      [images]="banners" [imageSize]="{ width: slideItemW, height: 87, space: 14 }" [manageImageRatio]="true"
      [showArrow]="false" (imageClick)="imageClick($event)">
    </ng-image-slider>
    <div class="banners-btn banners-next" (click)="slideNext('bannerSlider')">
      <img src="assets/img/ic_dropdown_class_up.png">
    </div>
  </div>

  <!-- ! 댓글 -->
  <div class="comments-wrapper" *ngIf="comments">
    <div class="comments-title">
      댓글 {{ count }}
    </div>

    <!-- ! 새 댓글 입력 영역 -->
    <div class="new-input-wrapper">
      <div class="input-container">
        <div class="new-input-info-wrapper">
          <div class="comment-input">
            <div class="input-label">
              <label for="new-input-name">이&nbsp;름*</label>
            </div>
            <div class="input-value">
              <input type="text" id="new-input-name" class="input-info" [(ngModel)]="newInput.writer" maxlength="15">
            </div>
          </div>

          <div class="comment-input">
            <div class="input-label">
              <label for="new-input-phone">휴대전화*</label>
            </div>
            <div class="input-value">
              <input type="tel" id="new-input-phone" class="input-info" [(ngModel)]="newInput.phone"
                placeholder="'-'을 제외한 휴대폰번호" autocomplete="tel" (keyup)="onlyNumber($event)" maxlength="11">
            </div>
          </div>

          <div class="comment-input">
            <div class="input-label">
              <label for="new-input-password">비밀번호*</label>
            </div>
            <div class="input-value">
              <input type="password" id="new-input-password" class="input-info" [(ngModel)]="newInput.password"
                autocomplete="new-password" maxlength="4" placeholder="숫자 4자리">
            </div>
          </div>
        </div>

        <div class="new-input-textarea-wrapper">
          <div class="input-label">
            <label>내&nbsp;용*</label> <!-- ! 새 내용 -->
          </div>
          <textarea class="input-value" type="text" placeholder="영상에 대한 궁금증은 무엇이든 작성해 주세요."
            [(ngModel)]="newInput.description" style="min-height: 54px;" maxlength="200">
          </textarea>
        </div>
      </div>
      <div class="new-input-create">
        <div class="noti-text">
          정보통신망의 권리 보호를 위해 근거없는 비방 글, 상업적인 게시글은 통보없이 삭제될 수 있습니다. (※ 정보통신망 이용촉진 및 정보보호 등에 관한 법률 제44조 참고)
        </div>
        <div>
          <button (click)="save()">등록</button>
        </div>
      </div>
    </div>
    <div *ngIf="!comments.length; else commentList">
      <!-- 댓글이 없습니다. -->
    </div>
    <ng-template #commentList>
      <hr class="comment-headline">
      <ng-container
        *ngFor="let comment of comments | paginate: {totalItems: count, itemsPerPage: itemsPerPage, currentPage: curPage}">
        <!-- ! 부모 댓글 List -->
        <div class="comment-wrapper">
          <div class="comment-header">
            <div class="comment-name">
              {{comment.writer}} ({{comment.phone}})
            </div>

            <div class="dropdown">
              <button class="dropdown_button" type="button" [id]="'pDrop_'+comment.id" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                  <path
                    d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                </svg>
              </button>
              <div class="dropdown-menu" [attr.aria-label]="'pDrop_'+comment.id">
                <button class="dropdown-item" type="button" (click)="passwordConfirm(comment, true)">수정</button>
                <button class="dropdown-item" type="button" *ngIf="!comment.children.length"
                  (click)="passwordConfirm(comment, false)">삭제</button>
              </div>
            </div>
          </div>

          <!-- ! 작성된 댓글 -->
          <div class="comment-body">
            <textarea class="parent-textarea" [value]="comment.description" [disabled]="true"
              [id]="'pInput_'+comment.id" autosize></textarea>
          </div>

          <div class="comment-date">
            {{comment.createdAt | date: "yyyy.MM.dd HH:mm" }}
          </div>
          <div *ngIf="comment.level === 0" class="open-reply-wrapper">
            <button (click)="openReply(comment.id)">답글</button>
          </div>
        </div>

        <!-- ! 새 답글 -->
        <div class="comment-wrapper cInputs-wrapper" [id]="'cInput_wrapper_'+comment.id">
          <div>
            <label class="cInput-label">
              내용*
            </label>
            <textarea [id]="'cInput_'+comment.id +'_description'" class="cInput-description" maxlength="200"></textarea>
          </div>
          <div class="row mt-3" style="margin-right: 0; margin-left: 0;">
            <div class="col-md-6 col-sm-8 d-flex row" style="padding: 0;">
              <div class="col-4">
                <label class="cInput-label">
                  이름*
                </label>
                <input type="text" class="cInput-value" [id]="'cInput_'+comment.id +'_writer'" maxlength="15">
              </div>
              <div class="col-4">
                <label class="cInput-label">
                  휴대전화*
                </label>
                <input type="tel" maxlength="11" class="cInput-value" [id]="'cInput_'+comment.id +'_phone'">
              </div>
              <div class="col-4">
                <label class="cInput-label">
                  비밀번호*
                </label>
                <input type="password" class="cInput-value" maxlength="4" [id]="'cInput_'+comment.id +'_password'"
                  placeholder="숫자 4자리">
              </div>
            </div>
            <div class="row cInputs-btns-wrapper col-md-6 col-sm-4">
              <div class="col cInputs-btns">
                <button (click)="save(comment.id)" class="cinput-btn-create">등록</button>
                <button (click)="cancel()" class="cinput-btn-cancel">취소</button>
              </div>
            </div>
          </div>
        </div>

        <!-- ! 답글 리스트 -->
        <ng-container *ngFor="let child of comment.children">
          <div class="comment-wrapper child-wrapper">
            <span class="child-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                class="bi bi-arrow-return-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z" />
              </svg>
            </span>
            <div class="comment-header">
              <div class="comment-name">
                {{child.writer}} ({{child.phone}})
              </div>

              <div class="dropdown">
                <button class="dropdown_button" type="button" [id]="'cDrop_'+child.id" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                    <path
                      d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                  </svg>
                </button>
                <div class="dropdown-menu" [attr.aria-label]="'cDrop_'+child.id">
                  <button class="dropdown-item" type="button" (click)="passwordConfirm(child, true)">수정</button>
                  <button class="dropdown-item" type="button" (click)="passwordConfirm(child, false)">삭제</button>
                </div>
              </div>
            </div>

            <!-- ! 작성된 답글 -->
            <div class="comment-body">
              <textarea class="child-textarea" [value]="child.description" [disabled]="true" [id]="'cInput_'+child.id"
                autosize>
              </textarea>
            </div>
            <div class="comment-date">
              {{child.createdAt | date: "yyyy.MM.dd HH:mm" }}
            </div>
          </div>
        </ng-container>
      </ng-container>
      <pagination-controls [directionLinks]="true" [responsive]="true" [previousLabel]="'Prev'" [nextLabel]="'Next'"
        [maxSize]="8" (pageChange)="changePage($event)">
      </pagination-controls>
    </ng-template>
  </div>
</div>

<button #updateCommentAlertBtn class="comment-alert-btn" data-toggle="modal" data-target="#updateCommentAlert">
  update comment alert MODAL Open
</button>

<button #confirmPasswordAlertBtn class="comment-alert-btn" data-toggle="modal" data-target="#confirmPasswordAlert">
  confirm password alert MODAL Open
</button>

<!-- ! 삭제 확인 모달. 비밀번호 확인 -->
<div class="modal comment-alert fade" id="confirmPasswordAlert" data-backdrop="static" role="dialog"
  aria-labelledby="confirmPasswordAlert" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title">
          비밀번호 확인
        </div>
        <div class="modal-description">
          <input type="password" maxlength="4" [(ngModel)]="confirmPassword" placeholder="숫자 4자리">
        </div>
        <div class="comment-alert-bottom">
          <!-- ! 삭제 상태 -->
          <div class="btn-confirm" *ngIf="!isModify">
            <button type="button" class="btn btn-outline-secondary" data-toggle="modal"
              data-target="#confirmPasswordAlert" (click)="clearConfirmPasswordAlert()" #cancelPasswordConfirmAlertBtn>
              취소
            </button>
            <button type="button" class="btn btn-outline-danger" (click)="remove()">
              삭제
            </button>
          </div>
          <!-- ! 수정 상태 -->
          <div class="btn-confirm" *ngIf="isModify">
            <button type="button" class="btn btn-outline-secondary" data-target="#confirmPasswordAlert"
              data-toggle="modal" (click)="clearConfirmPasswordAlert()" #cancelPasswordConfirmAlertBtn>
              취소
            </button>
            <button type="button" class="btn btn-outline-primary" (click)="checkPassword()">
              수정
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ! 수정 폼 모달-->
<div class="modal comment-alert fade" id="updateCommentAlert" data-backdrop="static" role="dialog"
  aria-labelledby="updateCommentAlert" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title">
          수정
        </div>
        <div class="modal-description">
          <div class="update-form">
            <div class="update-input-wrapper">
              <div class="update-input-label">
                <label>이름*</label>
              </div>
              <div class="update-input-value">
                <input type="text" id="update-input-name" class="input-info" [(ngModel)]="updateInput.writer"
                  maxlength="15">
              </div>
            </div>

            <div class="update-input-wrapper">
              <div class="update-input-label">
                <label>휴대전화*</label>
              </div>
              <div class="update-input-value">
                <input type="tel" id="update-input-phone" class="input-info" [(ngModel)]="updateInput.phone"
                  placeholder="'-'을 제외한 휴대폰번호" autocomplete="tel" (keyup)="onlyNumber($event)" maxlength="11">
              </div>
            </div>

            <div class="update-input-wrapper">
              <div class="update-input-label">
                <label>내용*</label>
              </div>
              <div class="update-input-value">
                <textarea class="input-value" type="text" placeholder="영상에 대한 궁금증은 무엇이든 작성해 주세요."
                  [(ngModel)]="updateInput.description" style="min-height: 54px;" maxlength="200">
                </textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="comment-alert-bottom">
          <div class="btn-confirm">
            <button type="button" class="btn btn-outline-secondary" data-target="#updateCommentAlert"
              data-toggle="modal" (click)="clearUpdateCommentAlert()" #cancelUpdateCommentAlertBtn>
              취소
            </button>
            <button type="button" class="btn btn-outline-primary" (click)="updateComment()">
              수정
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button #entryAlertBtn class="entry-alert-btn" data-toggle="modal" data-target="#entryAlert">
  entryAlert MODAL Open
</button>

<!-- Entry modal -->
<div class="modal entry-alert fade" id="entryAlert" data-backdrop="static" role="dialog" aria-labelledby="entryAlert"
  tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title">
          <img src="../../../assets/img/icon-warning.png">Notice
        </div>
        <div class="modal-description">
          <p>
            2021.11.09 15:00 ~ 17:00<br>
          </p>
          <p>
            원활한 행사를 위해 시스템 점검중입니다.
          </p>
          <p>
            해당 시간에 접속이 원활하지 않을 수 있습니다.<br>
            이 점 양해 부탁드립니다.
          </p>
        </div>
        <button type="button" class="btn btn-block confirm-btn" data-toggle="modal" data-target="#entryAlert">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
